body {
  background-color: #f8f9fa;
  color: #495057;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.file-input-container {
  margin-top: 20px;
}

/* Improved file input styling */
.custom-file-input {
  color: #495057;
  cursor: pointer;
}

.custom-file-input::before {
  content: 'Choose file';
}

.custom-file-input::after {
  content: 'Browse';
  padding: 0.5rem 1rem;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  background-color: #fff;
  color: #495057;
  margin-left: 5px;
}

.accordion-item {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-bottom: 10px;
}

.accordion-button {
  background-color: #007bff;
  color: #fff;
}

.accordion-button:hover {
  background-color: #0056b3;
}

.accordion-body {
  padding: 15px;
}

.accordion-body p {
  margin-bottom: 0;
}

.pre-scrollable {
  max-height: 300px;
  overflow-y: auto;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}